body{font-style: verdana !important; color: black;}
.b-blue {
  background: linear-gradient(to bottom, rgb(39, 63, 79), rgb(62, 97, 122));
  color: #FFF;
}

a{text-decoration:none!important;}

.b-blue-light {
background: linear-gradient(to right, rgb(39, 63, 79), rgb(62, 97, 122), rgb(39, 63, 79));
  color: #FFF;
}

.c-white {
  color: #FFF !important;
}

.b-orange {
  background-color: #ffae32 !important;
  color: #FFF;
}

.b-orange-light {
  background-color: #ffb646;
}

.b-orange-hover {
  background-color: #ffb646;
}

.b-orange:hover {
  background-color: #ffb646 !important;
}

.b-green {
  background-color: #47b127;
  color: #FFF;
}
.fundologin{
  background: #f5f5f5;
  color: #FFF;
}
.right {
  float: right;
}
form{color:black;}
.noshow{display: none;}
/*posições*/
.center{margin: 0 auto !important;  }
.sizelogin{width: 400px; }

.containercad{height: 73vh;}
.container{height: 89vh;}

.containerchamados{height:84vh;}
.fontlogo{font-size: 2.8em; margin-top: 25px;}
.buttonlogin:hover{background-color: #46a14a !important;}
footer{background-color: rgba(230,230,230,0.2); opacity: 1; height: 100px;border-top:1px solid #dddddd; text-align: center; color: black;}
  footer p{font-size: 14px;}
