

<div class="page-header">
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Cadastro Tipo de chamados", "../TipoChamado", "Index", new { @class = "w3-bar-item w3-button" })</li>
        <li class="list-group-item">@Html.ActionLink("Cadastro Tipo status", "../TipoStatus", "Index", new { @class = "w3-bar-item w3-button" })</li>
        <li class="list-group-item">@Html.ActionLink("Cadastro Tipo usuarios", "../TipoUsuario", "Index", new { @class = "w3-bar-item w3-button" })</li>
        <li class="list-group-item">@Html.ActionLink("Cadastro Usuarios", "../Usuario", "Index", new { @class = "w3-bar-item w3-button" })</li>
    </ul>
    </div>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


